body {
    text-align: justify;
    padding: 30px 600px;
}

a {
    display: block; 
    margin-bottom: 10px;
    color: yellow;
    font-size: 60px;
}

.link {
    color: rgb(157, 28, 157);

}

.tittle {
    text-align: left;
}
